:root{
    --vermelho:#E50914;
    --preta:#141414;
    /* variaveis para nao ficar mudando */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* tirar a borda do site */
}

body{
    background: var(--preta);
    font-family: 'Arial', Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--vermelho);
    padding-top: 0.5rem;
    font-size: 40px;
}

.entrar{
    border: none;
    color: white;
    background: var(--vermelho);
    padding: 15px 20px;
    font-size: .9rem;
    margin-top: 0.35rem;
    padding: 0.25rem 0.5rem
}
.botao{
    margin-right: 40px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao .linguagem{
    padding: 10px 25px;
    margin-right: 20px;
    border-radius: 2%;
}

.botao .entrar{
    padding: 10px 25px;
    border-radius: 2%;
}

.botao .entrar:hover{
    background-color: white;
    color: black;
}

.linguagem{
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding: 0.25rem 1.375rem;
}

.tela-inicial{
    font-size: 16px;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.tela-inicial .container{
    align-items: center;
    margin-top: 15%;
    font-size: 2em;
    text-align: center;
    
}

h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}

.tela-inicial .container h4{
    font-size: 18px;
}

.container .logo{
    margin-left: 50px;
    margin-top: 20px;
}

body{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/capanet.jpg);
    background-size: cover;
}

.email2{
    margin-top: 20px;
    padding: 20px; 
    width: 30%;
    border: none;
    cursor: pointer;
    transition: .3 ease all;
}

.vamosLa{
    padding: 20px 60px;
    background: var(--vermelho);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: .3 ease all;
}

.vamosLa:hover{
    background-color: rgb(238, 42, 42);
    color: white;
}